{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Trang chủ</title>
        <link rel="stylesheet" href="{% static 'mainscreen/style.css' %}">
        
    </head>
    <body>      
        <form action="#" method="post">
            {% csrf_token %}
         
            <center>
               <br><br><br><br><br>
               <div class ="container">
                <center><h1>Chào mừng đến với WEBAPP</h1></center>
                <button type="submit"><b><a href="http://localhost:8000/loginTeacher/"> Đăng nhập tải khoản giảng viên</a</b></button><br>
                <button type="submit"><b><a href="http://localhost:8000/loginStudent/"> Đăng nhập tải khoản sinh viên</a</b></button><br>
                <button type="submit"><b><a href="http://localhost:8000/loginAdmin/"> Đăng nhập tải khoản quản trị</a</b></button><br>       
            	
            </div></center>
        </form>
    </body>
</html>




