{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Trang Quản trị</title>
        <link rel="stylesheet" href="{% static 'main_screen/style.css' %}">
        
    </head>
    <body>      
        <form action="#" method="post">
            {% csrf_token %}
            {{firstname}} 
            {{lastname}}
            <center>
               <br><br><br><br><br>
               <div class ="container">
                <center><h1>Chào mừng đến với WEBAPP</h1></center>
                <button type="submit"><b><a href="{% url 'user_admin:table_teacher' %}"> Thông tin Giảng viên</a</b></button><br>
                <button type="submit"><b><a href="{% url 'user_admin:table_student' %}"> Thông tin Sinh viên</a</b></button><br>
                <button type="submit"><b><a href="{% url 'user_admin:logout' %}"> Đăng xuất</a</b></button><br>       
            	
            </div></center>
        </form>
    </body>
</html>




