{% load static %}
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Đăng nhập</title>
        <link rel="stylesheet" href="{% static 'login/style.css' %}">

    </head>
    <body>
        <form action="{% url 'login:login'%}" method="post">
            {% csrf_token %}
            {% load static %}
            <center><br><br><br><br><br><div class="container">
                <center><h1>Đăng nhập</h1></center>
                <div class="imgcontainer">
                    <img src="{% static 'login/teacher.png' %}" alt="Avatar" class="avatar">
                </div>
                <label for ='username'><b></b></label>
                <input type="text" placeholder="Nhập tên đăng nhập" name="username" float="right"  required><br>    
                <label for='password'><b> </b></label>
                <input type="password" placeholder="Nhập mật khẩu" name="password" required><br><br>
                <input type='radio' name='role' value='T' required>
		        <label ><b>Giảng viên</b></label>&emsp;
		        <input type='radio' name='role' value='S' required>
                <label ><b>Sinh viên</b></label>&emsp;
                <input type='radio' name='role' value='A' required>
		        <label ><b>Quản trị viên</b></label>&emsp;<br><br>
                <button type="submit"><b>Đăng nhập</b></button><br><br>
               <center>
                Chưa có tài khoản? <a href="http://localhost:8000/registrations"> Đăng ký </a><br>
                 <br><a  href="http://localhost:8000"> Quay lại trang chính</a> 
            </div></center>
        </form>
    </body>
</html>