{% extends 'user_teacher/base.html' %}


{% block content %}
<title>Tạo 1 câu hỏi</title>

    <h3>Tạo câu hỏi mới</h3>
    <form action="" method="post">
        {% csrf_token %}
        <h2>Môn học:  <select class="box" placeholder= "" {{ nq.ID_Subject }}

        <h2> Chi tiết câu hỏi <input id='area' class="box"  {{ nq.Question_Detail }} 

        <h2>Hình ảnh: <input class="box"  {{ nq.Question_Image }}
        <h2>Đáp án A: <input type="text" name="dapan1"></h2>
        <h2>Đáp án B: <input type="text" name="dapan2"></h2>
        <h2>Đáp án C: <input type="text" name="dapan3"></h2>
        <h2>Đáp án D: <input type="text" name="dapan4"></h2>
        <h2>Đáp án đúng: <input class="box" {{ nca.Correct_Answer }}

        <center><input class="box"type="submit" value="Thêm"></center><br>
    </form>
{% endblock %}