{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Trang chủ</title>
        <link rel="stylesheet" href="{% static 'main_screen/style.css' %}">
        
    </head>
    <body>      
        <form action="#" method="post">
            {% csrf_token %}
         
            <center>
               <br><br><br><br><br>
               <div class ="container">
                <center><h1>Chào mừng đến với WEBAPP</h1></center>
                <button type="submit"><b><a href="{% url 'login:login' %}"> Đăng nhập</a</b></button><br>
                <button type="submit"><b><a href="{% url 'registrations:registrations' %}"> Đăng ký</a</b></button><br>            	
            </div></center>
        </form>
    </body>
</html>




