{% extends 'user_student/base.html' %}

{% block content %}
<title>Trang thông tin sinh viên</title>
<div>
                    <br><br><br><br>
                    <div class="table-1">
                        <div class="box-1">
                          <p class="text">Họ</p><br>
                          <p class="text">Tên</p><br>
                          <p class="text">Tên đăng nhập</p><br>
                          <p class="text">Mã số sinh viên</p><br>
                          <p class="text">Email</p><br>
                        </div>
                        <div class="box-2">
                            <p class="box"> {{firstname}}</p> <br>
                            <p class="box"> {{lastname}}</p> <br>
                            <p class="box"> {{username}}</p> <br>
                            <p class="box"> {{MSSV}}</p> <br>
                            <p class="box"> {{email}}</p> <br>
                        </div>
                    </div>
                  </div><br><br><br>

{% endblock %}

