
{% extends 'user_student/base.html' %}

{% block content %}
<title>Chỉnh sửa thông tin sinh viên</title>

<div>
    <br><br><b>
    <div class="table-1">
        <div class="box-1">
            <p class="text">Họ</p>
            <p class="text">Tên</p>
            <p class="text">Mã số sinh viên</p>
            <p class="text">Email</p><br>
          </div>
        <div class="box-2">
            <form action="" method ='post'>
                {%csrf_token%}
            <input  class='box'  placeholder={{firstname}} name='first_name' maxlength = "45" required><br>

            <input  class='box' placeholder={{lastname}} name='last_name' maxlength = "45" required><br>
                        
            <input  class='box'  placeholder= {{MSSV}} name='IDnumber' maxlength = "45" required><br>

            <input  class='box' type='email' placeholder={{email}} name='email' maxlength = "45" required><br>
        </div>
    </div>
</div>
<center></b>
<div><button class='box' type="submit"><b>Thay đổi</b></button><br>    </div> 
</form>
</center><br><br><br>
{% endblock %}